<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Push 1-->
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- Mobile first -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Removing zooming on mobile -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <!-- Boostrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous" />
    <!-- Font awesome -->
    <script src="https://kit.fontawesome.com/0593828612.js" crossorigin="anonymous"></script>
    <!-- Style for nav and footer -->
    <link rel="stylesheet" href="../styles/navAndFooter.css" />
    <!-- Google fonts Roboto -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet" />
    <!-- User stylesheet -->
    <!-- hamburger -->
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <!-- Main style sheet for contenct-->

    <link rel="stylesheet" href="../styles/hamburger.css" />
    <link rel="stylesheet" href="../styles/aboutUs.css">
    <title>За нас</title>
</head>

<body>
    <%- include("../layouts/headerAndFooter/header.ejs")%>
        <main>
            <section class="container-fluid textContainer d-flex justify-content-center align-items-center flex-column">
                <section class="start">
                    <h1 class="text-center title" data-aos="zoom-in">За Нас</h1>

                   
                </section>
                <section>
                    <div class="container-fluid">
                        <div class="row align-items-center justify-content-center">
                            <div class="col-md text-start" data-aos="fade-right">
                                <p>АНИ Н 2008 ЕООД /Софт Офис Център/ е търговска фирма, която предлага
                                    комплекс от
                                    стоки и услуги необходими за правилното функциониране на всеки офис.
                                    Екипът на компанията е с дългогодишен опит /20години/ в областта на
                                    офис материалите и консумативите.
                                    <br>
                                    Нашата мисия е да предоставим висококачествено обслужване на достъпни цени.
                                    Правим това чрез налагане на високи професионални стандарти:

                                <ul>
                                    <li>
                                        Отношение и първостепенна грижа за нашите клиенти
                                    </li>
                                    <li>
                                        Качествени европейски продукти
                                    </li>
                                    <li>
                                        Бърза доставка
                                        Нашият успех зависи от усмивките и удовлетвореността на нашите клиенти и ние
                                        добре знаем това.
                                    </li>

                                </ul>

                                </p>
                            </div>
                            <div class="col-md d-flex justify-content-center align-content-center" data-aos="fade-left">
                                <img class="img-fluid images" src="./images/aboutUs/firstImage.jpg" alt="">
                            </div>
                        </div>
                    </div>
                </section>
                <section>
                    <div class="container-fluid">
                        <div class="row align-items-center justify-content-between">
                            <div class="col-md order-1 order-md-0" data-aos="fade-left">
                                <img class="img-fluid images" src="./images/aboutUs/secondImage.jpg" alt="">
                            </div>
                            <div class="col-md text-start text-sm-end d-flex justify-content-center align-items-center" data-aos="fade-right">
                                <p>
                                    Работим с български производители и с европейски партньори предлагащи
                                    утвъдени марки като XEROX, SAMSUNG, Hewlett Packard, Brother, Faber
                                    Castel, Big, Office point, EDDING, Schnaider, 3MSchotch, Canon, Lexmark,
                                    Epson, Fullmark, Sony, Verbatim, Rexel, Herlitz и други.
                                </p>
                            </div>

                        </div>
                    </div>
                </section>
                <section>
                    <div class="container-fluid">
                        <div class="row align-items-center justify-content-between" data-aos="zoom-in">
                            <div class="col-md text-start">
                                <p>
                                    Софт Офис Център предлага на своите клиенти офис обзавеждане по
                                    стандарт от каталог актуален за съответната година и обзавеждане по
                                    индивидуални размери и цветове на клиента. Вземането на размери,
                                    транспортът и монтажът са безплатни.
                                </p>
                            </div>
                            <div class="col-md">
                                <img class="img-fluid images" src="./images/aboutUs/thirdImage.jpg" alt="">
                            </div>
                        </div>
                    </div>
                </section>

                <section>
                    <div class="container-fluid">
                        <div class="row align-items-center justify-content-between">
                            <div class="col-md d-flex justify-content-center align-items-center order-1 order-md-0" data-aos="fade-up">
                                <img class="img-fluid images" src="./images/aboutUs/fourthImage.jpg" alt="">
                            </div>
                            <div class="col-md text-start text-sm-end" data-aos="fade-down" data-aos-easing="linear">
                                <p>
                                    Услугите като изработка на печат се изпълняват за 24 часа след предпечатно
                                    одобрение, предпечат не се заплаща, цената на услугата изработка на визитки и
                                    рекламни материали са по индивидуални проекти различни за всеки клиент .
                                </p>
                            </div>

                        </div>
                    </div>
                </section>

                <section>
                    <div class="container-fluid">
                        <div class="row align-items-center justify-content-between">
                            <div class="col-md text-start">
                                <p>Компанията предлага широка гама от санитарни препарати и всички
                                    необходими
                                    средства и консумативи за почистване на вашият офис, както и доставка на
                                    минерални води, напитки и други продукти..</p>
                            </div>
                            <div class="col-md">
                                <img class="img-fluid images" src="./images/aboutUs/fifthImage.jpg" alt=""
                                    data-aos="fade-up" >
                            </div>
                        </div>
                    </div>
                </section>

                <section>
                    <div class="container-fluid">
                        <div class="row align-items-center justify-content-between">
                            <div class="col-md order-1 order-md-0">
                                <img class="img-fluid images" src="./images/aboutUs/sixthImage.jpg" alt=""
                                    data-aos="fade-up" data-aos-anchor-placement="top-center">
                            </div>
                            <div class="col-md text-center text-sm-start">
                                <p>
                                    Клиентите на Софт Офис Център могат да се възползват от възможността да
                                    договорят корпоративни условия за пазаруване, специални цени по договор,
                                    преференциални отстъпки идивидуални според нуждите на всяка компания.
                                    Складовата ни база се намира в Дружба 2 бл.275 –партер.
                                </p>
                            </div>

                        </div>
                    </div>
                </section>

                <section>
                    <div class="container-fluid">
                        <div class="row align-items-center justify-content-between">
                            <div class="col-md text-center text-sm-start">
                                <p class="lead">
                                    Поръчките се правят от сайта,по телефон или е-mail,доставките са безплатни за
                                    територията на София и страната. Срок за доставка 24ч-48ч. след направена
                                    заявка. Поръчките за страната се доставят с водещи куриерски фирми. Всеки
                                    клиент може да върне стока, която е дефектна или не отговаря на неговите
                                    очаквания в срок от 30 дни. Рекламациите се извършват в срок от 7дни.
                                </p>
                            </div>
                            <div class="col-md">
                                <img class="img-fluid images" src="./images/aboutUs/seventhImage.jpg" alt=""
                                    data-aos="fade-up" data-aos-anchor-placement="top-center">
                            </div>
                        </div>
                    </div>
                </section>
                <section class="bottomInfo">
                    <div class="container-fluid">
                        <div class="row justify-content-center align-items-center">
                            <div class="col-md-12 text-start pb-3 d-flex justify-content-center align-items-center bottomInfo__first">
                                <p>
                                    Заявете нашия актуален каталог на посочените телефони.
                                    Надяваме се на ползотворно и дълготрайно сътрудничество!
                                </p>
                            </div>
                            <div class="col-md-4 d-flex justify-content-center align-items-center pb-5">
                                <img class="img-fluid images  center-block" src="./images/aboutUs/eightImage.jpg" alt=""
                                    data-aos="zoom-out">
                            </div>
                            <div class="col-md-12 text-center bottomInfo__last">
                                <p>
                                    АНИ Н 2008 ЕООД /Софт Офис Център/
                                    <br>
                                    Офис: гр. София, Ул. Обиколна Бл. 275
                                    <br>
                                    Тел: +359 87 9988825
                                    <br>
                                    E-mail: office@softofficebg.com
                                    <br>
                                    E-mail: softofficebugaria@gmail.com
                                </p>
                            </div>
                        </div>
                    </div>
                </section>



            </section>
        </main>
        <%- include("../layouts/headerAndFooter/footer.ejs")%>
</body>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
<!-- ANimation -->
<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
<!-- Custom js -->
<script>
    AOS.init();
</script>

<script src="../scripts/index.js"></script>
<script src="../scripts/hamburger.js"></script>

</html>