<!-- Footer -->
<footer class="mt-auto text-light">
    
    <!-- Grid container -->
    <section class="footer">
        <!-- Section: Links -->
        <section class="topSideFooter d-flex py-5 ">
            <!--Grid row-->
            <div class="container-fluid d-flex flex-column flex-lg-row justify-content-center">
                <!--Grid column-->
                <div class="mx-lg-5 d-flex flex-column">
                    <h5 class="text-uppercase footerTitle">за softoffice.bg</h5>

                    <ul class="list-unstyled mb-0">
                        <li>
                            <a href="/aboutUs">За нас</a>
                        </li>
                        <li>
                            <a href="#!">Доставка</a>
                        </li>
                        <li>
                            <a href="#!">Как да пазарувам</a>
                        </li>
                    </ul>
                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="mx-lg-2 d-flex flex-column">
                    <h5 class="text-uppercase footerTitle">контакти и помощ</h5>

                    <ul class="list-unstyled mb-0">
                        <li>
                            <a href="#!">Помощ</a>
                        </li>
                        <li>
                            <a href="/contactUs">Контакти</a>
                        </li>
                        <li>
                            <a href="#!">Общи условия</a>
                        </li>
                        <li>
                            <a href="https://ec.europa.eu/consumers/odr/main/index.cfm?event=main.home.chooseLanguage">Въпроси
                                и разрешаване на спорове</a>
                        </li>
                        <li>
                            <a href="">
                                Политика за поверителност</a>
                        </li>
                    </ul>
                </div>
                <!--Grid column-->
                <!-- Section: Form -->
                <div
                    class="mt-5 m-md-5 px-lg-5 d-flex flex-column justify-content-center align-items-center ">

                    <!--Grid row-->
                    <div class="d-flex flex-column justify-content-center align-items-center">
                        <!--Grid column-->
                        <div class="text-center">
                            <p class="">
                                <strong>Запиши се за нашия онлайн бюлетин и научи първи за промоционални
                                    и
                                    нови продукти.</strong>
                            </p>
                        </div>
                        <!--Grid column-->
                        <section class="byletinSection d-flex container-fluid justify-content-center align-items-center">
                            <form action="">
                                <section class="footerByletinInput d-flex form-group ">
                                    <div class="flex-grow ">
                                    <input type="email" id="buletin" class="form-control text-center " name="email"
                                        placeholder="И-мейл" />
                                    </div>
                                    <div>
                                    <button type="submit" class="btn btn-danger subscribeBuletin text-center">
                                        Изпрати
                                    </button>
                                </div>
                                </section>

                            </form>
                        </section>
                        <!--Grid column-->
                    </div>
                    <!--Grid row-->

                </div>

                <!-- Section: Form -->
            </div>
            <!--Grid row-->
        </section>
        <!-- Section: Links -->

        <!-- Grid container -->
        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
            © 2020
            SoftOffice.bg Всички права запазени
        </div>
        <!-- Copyright -->
    </section>
</footer>
<!-- Footer -->