<header>
    <nav class="navbar navbar-dark fixed-top text-white">
        <div class="container-fluid ">
            <!-- Testing toggler customizable -->
            <div class="col-1">
                <article id="container">
                    <header id="main-nav">
                        <div id="bun">
                            <div class="mmm-burger"></div>
                        </div>
                    </header>
                </article>
                <aside id='sidebar'>
                    <nav id='mobile-nav'>
                        <ul>
                            <li class="nav-item">
                            <li class="nav-item">
                                <a href="/">
                                    <h3>Начало</h3>
                                </a>
                            </li>
                            </li>
                            <!-- <li class="nav-item">
                                <a href="google.com">
                                    <h3>Топ оферти</h3>
                                </a>
                            </li> -->
                            <li class="nav-item">
                                <h3>Продукти</h3>
                            </li>
                            <!-- Продукти -->
                            <ul class="sub-nav">
                                <!-- Начало секция първа-->
                                <li class="sub-nav-item arrowed headSection">
                                    <h4>Офис материали</h4>
                                </li>
                                <!-- OneSubsection -->
                                <ul class="sub-nav subsecOne">
                                    <li class="sub-nav-item arrowed">
                                        <h4>Хартии и хартиени изделия</h4>
                                    </li>
                                    <!-- Twosubsection -->
                                    <ul class="sub-nav subsecTwo">
                                        <a href="/products/hartiq">
                                            <li class="sub-nav-item">Бяла копирна хартия</li>
                                        </a>
                                        <a href="/products/karton">
                                            <li class="sub-nav-item">Картон</li>
                                        </a>
                                        <a href="/products/folio">
                                            <li class="sub-nav-item">Фолио</li>
                                        </a>
                                        <a href="/products/fotohartiq">
                                            <li class="sub-nav-item">Фотохартия</li>
                                        </a> 
                                        <!-- <a href="/products/cvetnaHartiq">
                                            <li class="sub-nav-item">Цветна хартия</li>
                                        </a>   -->
                                        <!-- <a href="" >
                                            <li class="sub-nav-item">Дизайнерска хартия</li>
                                        </a> 
                                         <a href="" >
                                            <li class="sub-nav-item">Дизайнерски картон</li>
                                        </a>  -->
                                        <a href="/products/kariranaHartiq" class="">
                                            <li class="sub-nav-item">Карирана хартия и линирана хартия</li>
                                        </a>
                                        <a href="/products/paus">
                                            <li class="sub-nav-item">Паус</li>
                                        </a>
                                        <a href="/products/hartiqNaRyloZaPloteri">
                                            <li class="sub-nav-item">Хартия на руло за плотери</li>
                                        </a>
                                        <a href="/products/hartiqZaPloteri">
                                            <li class="sub-nav-item">Хартия за плотери</li>
                                        </a>
                                        <a href="/products/kasoviRolki">
                                            <li class="sub-nav-item">Касови термо ролки</li>
                                        </a>
                                        <a href="/products/bezkonechnaPrintHartiq">
                                            <li class="sub-nav-item">Безконечна принтерна хартия</li>
                                        </a>
                                        <!-- <a href="/products/samozalepvashZnak">
                                            <li class="sub-nav-item">Самозалепващ знак</li>
                                        </a>  -->
                                        <a href="/products/etiketi">
                                            <li class="sub-nav-item">Етикети</li>
                                        </a>
                                        <a href="/products/markirashtiKleshti">
                                            <li class="sub-nav-item">Маркиращи клещи</li>
                                        </a>
                                        <a href="/products/beliPlikove">
                                            <li class="sub-nav-item">Бели пликове</li>
                                        </a>
                                        <a href="/products/kafqviPlikove">
                                            <li class="sub-nav-item">Кафяви пликове</li>
                                        </a>
                                        <!-- <a href="/products/cvetniPlikove">
                                            <li class="sub-nav-item">Пликове цветни</li>
                                        </a> -->
                                        <a href="/products/formylqri">
                                            <li class="sub-nav-item">Формуляри</li>
                                        </a>
                                        <a href="/products/belejnici">
                                            <li class="sub-nav-item">Бележници</li>
                                        </a>
                                        <a href="/products/tetradki">
                                            <li class="sub-nav-item">Тетрадки</li>
                                        </a>
                                    </ul>
                                    <!-- End Two subsection -->
                                    <li class="sub-nav-item arrowed">
                                        <h4>Оранизация и архивиране</h4>
                                    </li>
                                    <!-- Two Subsection -->
                                    <ul class="sub-nav subsecTwo">
                                        <a href="/products/klasiori">
                                            <li class="sub-nav-item">Класьори</li>
                                        </a>
                                        <a href="/products/djobove">
                                            <li class="sub-nav-item">Джобове</li>
                                        </a>
                                        <a href="/products/razdeliteli">
                                            <li class="sub-nav-item">Разделители</li>
                                        </a>
                                        <a href="/products/papki">
                                            <li class="sub-nav-item">Папки</li>
                                        </a><a href="/products/arhivnaKytiqIKashon">
                                            <li class="sub-nav-item">Кутии, кашони</li>
                                        </a><a href="/products/ambalajnaHartiq">
                                            <li class="sub-nav-item">Амбалажна хартия</li>
                                        </a><a href="/products/folioSVuzdyshniMehyrcheta">
                                            <li class="sub-nav-item">Фолио с бъздушни мехурчета</li>
                                        </a><a href="/products/stretchFolio">
                                            <li class="sub-nav-item">Фолио стреч за опаковане</li>
                                        </a>
                                        <a href="/products/tubus">
                                            <li class="sub-nav-item">Тубус</li>
                                        </a><a href="/products/clipBoard">
                                            <li class="sub-nav-item">Клипборд</li>
                                        </a>
                                        <!-- <a href="">
                                            <li class="sub-nav-item">Визитник</li>
                                        </a> -->
                                        <a href="/products/raniciChanti">
                                            <li class="sub-nav-item">Раници, чанти, сакове, куфари</li>
                                        </a>

                                    </ul>
                                    <!-- End subsection -->
                                    <li class="sub-nav-item arrowed">
                                        <h4>Пишещи и копиращи пособия</h4>
                                    </li>
                                    <!-- Two Subsection -->
                                    <ul class="sub-nav subsecOne subsecTwo">
                                        <a href="/products/himikalki">
                                            <li class="sub-nav-item">Химикалки</li>
                                        </a>
                                        <a href="/products/roleri">
                                            <li class="sub-nav-item">Ролери</li>
                                        </a>
                                        <a href="/products/tankopisci">
                                            <li class="sub-nav-item">Тънкописци</li>
                                        </a><a href="/products/markeri">
                                            <li class="sub-nav-item">Маркери</li>
                                        </a><a href="/products/avtomatichniMolivi">
                                            <li class="sub-nav-item">Автоматични моливи</li>
                                        </a><a href="/products/grafiti">
                                            <li class="sub-nav-item">Графити</li>
                                        </a><a href="/products/molivi">
                                            <li class="sub-nav-item">Моливи</li>
                                        </a><a href="">
                                            <li class="sub-nav-item">Острилки</li>
                                        </a><a href="/products/gumi">
                                            <li class="sub-nav-item">Гуми</li>
                                        </a><a href="/products/flumasteri">
                                            <li class="sub-nav-item">Флумастери</li>
                                        </a><a href="/products/vodniBoi">
                                            <li class="sub-nav-item">Бои за рисуване</li>
                                        </a>
                                        <!-- <a href="">
                                            <li class="sub-nav-item">Коректори</li>
                                        </a> -->
                                    </ul>
                                    <!-- End Twosubsection -->
                                    <li class="sub-nav-item arrowed">
                                        <h4>Принадлежности за бюро</h4>
                                    </li>
                                    <!-- Two Subsection -->
                                    <ul class="sub-nav subsecTwo">
                                        <a href="/products/telbod">
                                            <li class="sub-nav-item">Телбод</li>
                                        </a>
                                        <a href="/products/antitelbod">
                                            <li class="sub-nav-item">Антителбод</li>
                                        </a>
                                        <a href="/products/telchetaZaTelbod">
                                            <li class="sub-nav-item">Телчета за телбод</li>
                                        </a>
                                        <a href="/products/perforator">
                                            <li class="sub-nav-item">Перфоратор</li>
                                        </a>
                                        <a href="/products/postavkaMolivnikOrganaizerZaBjuro">
                                            <li class="sub-nav-item">Поставка, моливник, органайзер за бюро</li>
                                        </a>
                                        <a href="/products/metalnaPostavka">
                                            <li class="sub-nav-item">Метална поставка</li>
                                        </a>
                                        <a href="/products/postavkaZabjuroIliStena">
                                            <li class="sub-nav-item">Метално кошче</li>
                                        </a>
                                        <a href="/products/postavkaZabjuroIliStena">
                                            <li class="sub-nav-item">Поставка за бюро, за стена</li>
                                        </a>
                                        <!-- <a href="">
                                            <li class="sub-nav-item">Хоризонтална поставка</li>
                                        </a>
                                        <a href="">
                                            <li class="sub-nav-item">Вертикална поставка</li>
                                        </a>
                                        <a href="">
                                            <li class="sub-nav-item">Монетник</li>
                                        </a> -->
                                    </ul>
                                    <!-- End Twosubsection -->
                                    <li class="sub-nav-item arrowed">
                                        <h4>Канцеларски материали</h4>
                                    </li>
                                    <!-- Two subsection -->
                                    <ul class="sub-nav subsecTwo">
                                        <a href="/products/beliICvetniCubcheta">
                                            <li class="sub-nav-item">Бели, цветни кубчета</li>
                                        </a>
                                        <a href="/products/samozalepvashiListcheta">
                                            <li class="sub-nav-item">Самозалепващи листчета</li>
                                        </a>
                                        <a href="/products/lepqshiIndeksi">
                                            <li class="sub-nav-item">Лепящи индекси</li>
                                        </a>
                                        <a href="/products/lepilo">
                                            <li class="sub-nav-item">Лепило</li>
                                        </a>
                                        <a href="/products/lentorezachki">
                                            <li class="sub-nav-item">Ленторезачки</li>
                                        </a>
                                        <a href="/products/lepqshaLenta">
                                            <li class="sub-nav-item">Лепящи ленти</li>
                                        </a>
                                        <a href="/products/mashinkaZaOpakovuchnaLenta">
                                            <li class="sub-nav-item">Машинки за опаковъчна лента</li>
                                        </a>
                                        <a href="/products/nojiza">
                                            <li class="sub-nav-item">Ножици</li>
                                        </a>
                                        <a href="/products/maketenNoj">
                                            <li class="sub-nav-item">Макетен нож</li>
                                        </a>
                                        <a href="/products/shipki">
                                            <li class="sub-nav-item">Щипки за документи</li>
                                        </a>
                                        <a href="/products/klameri">
                                            <li class="sub-nav-item">Кламери</li>
                                        </a>
                                        <!-- <a href="">
                                            <li class="sub-nav-item">Линии</li>
                                        </a> -->
                                        <a href="/products/karfici">
                                            <li class="sub-nav-item">Карфици</li>
                                        </a>
                                        <a href="/products/kabari">
                                            <li class="sub-nav-item">Пинове, кабари за коркова дъска</li>
                                        </a>
                                        <a href="/products/lupa">
                                            <li class="sub-nav-item">Лупи</li>
                                        </a>
                                        <a href="/products/badj">
                                            <li class="sub-nav-item">Бадж</li>
                                        </a>
                                        <!-- <a href="">
                                            <li class="sub-nav-item">Щипки, ленти, ролетки за бадж</li>
                                        </a> -->
                                        <a href="/products/mokrilnik">
                                            <li class="sub-nav-item">Мокрилник</li>
                                        </a>
                                        <a href="/products/lastici">
                                            <li class="sub-nav-item">Ластици</li>
                                        </a>
                                        <a href="/products/mastilo">
                                            <li class="sub-nav-item">Мастило</li>
                                        </a>
                                        <a href="/products/tampon">
                                            <li class="sub-nav-item">Тампон</li>
                                        </a>
                                        <!-- <a href="">
                                            <li class="sub-nav-item">Печати и изработка на печати и клишета</li>
                                        </a> -->
                                    </ul>
                                    <!-- End Twosubsection -->
                                    <!-- <li class="sub-nav-item arrowed">
                                        <h4>Услуги</h4>
                                    </li>  -->
                                    <!-- Two subsection -->
                                    <!-- <ul class="sub-nav subsecTwo">
                                        <a href="">
                                            <li class="sub-nav-item">Изработка на клише за печати</li>
                                        </a>
                                        <a href="">
                                            <li class="sub-nav-item">Изработка на печат Brother</li>
                                        </a>
                                        <a href="">
                                            <li class="sub-nav-item">Изработка на визитки</li>
                                        </a>
                                        <a href="">
                                            <li class="sub-nav-item">Изработка на фактури</li>
                                        </a>
                                        <a href="">
                                            <li class="sub-nav-item">Подвързване, ламиниране и др.</li>
                                        </a>
                                    </ul> -->
                                    <!-- End Twosubsection -->
                                </ul>
                                <!-- Край Хартии и хартиени изделия -->
                                <!-- Втора секция -->
                                <li class="sub-nav-item arrowed headSection">
                                    <h4>Техника и консумативи</h4>
                                </li>
                                <ul class="sub-nav subsecOne">
                                    <li class="sub-nav-item arrowed subsecOne">
                                        <h4>Офис техника и аксесоари</h4>
                                    </li>
                                    <ul class="sub-nav subsecTwo">
                                        <a href="/products/kalkylatori">
                                            <li class="sub-nav-item">Калкулатори</li>
                                        </a>
                                        <!-- <a href="">
                                            <li class="sub-nav-item">Унижощители на документи</li>
                                        </a> -->
                                        <a href="/products/rolkovNoj">
                                            <li class="sub-nav-item">Ролкови ножове</li>
                                        </a>
                                        <!-- <a href="">
                                            <li class="sub-nav-item">Гилотини</li>
                                        </a> -->
                                        <a href="/products/podvurzvashtaMashina">
                                            <li class="sub-nav-item">Подвързващи машини</li>
                                        </a>
                                        <a href="/products/asesoariZaSrederi">
                                            <li class="sub-nav-item">Ламинатори, ламинати</li>
                                        </a>
                                        <!-- <a href="">
                                            <li class="sub-nav-item">Флуид за шредери</li>
                                        </a> -->
                                        <!-- <a href="">
                                            <li class="sub-nav-item">Листа за шредери</li>
                                        </a> -->
                                        <a href="/products/grebeniKorici">
                                            <li class="sub-nav-item">Гребени и корици</li>
                                        </a>
                                        <a href="/products/bateri">
                                            <li class="sub-nav-item">Батерии</li>
                                        </a>
                                        <a href="/products/telefon">
                                            <li class="sub-nav-item">Телефони</li>
                                        </a>
                                        <!-- <a href="">
                                            <li class="sub-nav-item">Факс апарати</li>
                                        </a> -->
                                        <!-- <a href="">
                                            <li class="sub-nav-item">Мултифунционални устройства</li>
                                        </a> -->
                                     
                                    </ul>
                                        <a href="/products/skeneri">
                                            <li class="sub-nav-item">Консумативи за офис техника</li>
                                        </a>
                                    <!-- <li class="sub-nav-item arrowed subsecOne">
                                        <h4>Консумативи за офис техника</h4>
                                    </li>
                                    <ul class="sub-nav subsecTwo">
                                        <a href="">
                                            <li class="sub-nav-item">Консумативи за офис техника</li>
                                        </a>
                                        <a href="">
                                            <li class="sub-nav-item">Съвместими касети за матрични принтери</li>
                                        </a>
                                        <a href="">
                                            <li class="sub-nav-item">Съвместими касети за касови апарати</li>
                                        </a>

                                    </ul> -->
                                    <li class="sub-nav-item arrowed subsecOne">
                                        <h4>Компютърна техника, информационни носители и аксесоари</h4>
                                    </li>
                                    <ul class="sub-nav subsecTwo">
                                        <a href="/products/mishka">
                                            <li class="sub-nav-item">Мишки</li>
                                        </a>
                                        <a href="/products/podlojkaZaMishka">
                                            <li class="sub-nav-item">Подложки за мишки</li>
                                        </a>
                                        <a href="/products/klaviatyra">
                                            <li class="sub-nav-item">Клавиатури</li>
                                        </a>
                                        <a href="/products/tonkoloni">
                                            <li class="sub-nav-item">Тонколони</li>
                                        </a>
                                        <a href="/products/slushalki">
                                            <li class="sub-nav-item">Слушалки</li>
                                        </a>
                                        <a href="/products/tokozahranvashtiIZashtitniYstroistva">
                                            <li class="sub-nav-item">Токозахранваяи и защитни устройства</li>
                                        </a>
                                        <a href="/products/razkloniteliIKabeli">
                                            <li class="sub-nav-item">Разклонители и кабели</li>
                                        </a>
                                        <li class="sub-nav-item arrowed">
                                            <h4>Информационни носители</h4>
                                        </li>
                                        <ul class="sub-nav subsecTwo">
                                            <a href="/products/cdDvd">
                                                <li class="sub-nav-item">Cd и DVD</li>
                                            </a>
                                            <a href="/products/pametIBaterii">
                                                <li class="sub-nav-item">Памет и преносими батерии</li>
                                            </a>
                                        </ul>
                                        <a href="/products/preparatiKurpiZaPochistvaneNaOficeTehnika">
                                            <li class="sub-nav-item">Препарати и кърпи за почистване на офис техника
                                            </li>
                                        </a>
                                    </ul>
                                </ul> 
                                <!-- End Onesubsection -->

                                <!-- Трета секция -->
                                <li class="sub-nav-item arrowed headSection">
                                    <h4>Средства за презентация</h4>
                                </li>
                                <ul class="sub-nav subsecOne">
                                    <a href="/products/tabla">
                                        <li class="sub-nav-item">Таблка - коркови, бели и цветни, магнитнии и
                                            стъклени</li>
                                    </a>
                                    <a href="/products/projekcionniEkraniIDuski">
                                        <li class="sub-nav-item">Прожекционнни екрани и дъски</li>
                                    </a>
                                    <!-- <a href="">
                                        <li class="sub-nav-item">Фолио за презентации</li>
                                    </a> -->
                                    <a href="/products/flipcharti">
                                        <li class="sub-nav-item">Флипчарти, листа за флипчарт</li>
                                    </a>
                                    <a href="/products/informacionniSistemi">
                                        <li class="sub-nav-item">Информационни системи</li>
                                    </a>
                                    <!-- <a href="">
                                        <li class="sub-nav-item">Информационни табла</li>
                                    </a> -->
                                    <a href="/products/magnitenJob">
                                        <li class="sub-nav-item">Магнитен джоб</li>
                                    </a>
                                    <a href="/products/aksesoariZaTabla">
                                        <li class="sub-nav-item">Аксесоари за табла, гъби, пинове и маркери</li>
                                    </a>
                                </ul>
                                <!-- Четвърта секция -->
                                <li class="sub-nav-item arrowed headSection">
                                    <h4>Храни и напитки</h4>
                                </li>
                                <ul class="sub-nav subsecOne">
                                    <a href="/products/kafe">
                                        <li class="sub-nav-item">Кафе</li>
                                    </a>
                                    <!-- <a href="">
                                        <li class="sub-nav-item">Чай</li>
                                    </a> -->
                                    <a href="/products/zahar">
                                        <li class="sub-nav-item">Захар</li>
                                    </a>
                                    <a href="/products/med">
                                        <li class="sub-nav-item">Мед</li>
                                    </a>
                                    <a href="/products/smetana">
                                        <li class="sub-nav-item">Сметана</li>
                                    </a>
                                    <a href="/products/mlqko">
                                        <li class="sub-nav-item">Мляко</li>
                                    </a>
                                    <a href="/products/zehtin">
                                        <li class="sub-nav-item">Зехтин</li>
                                    </a>
                                    <a href="/products/voda">
                                        <li class="sub-nav-item">Вода</li>
                                    </a>
                                    <a href="/products/sokIBezalkoholniNapitki">
                                        <li class="sub-nav-item">Сок, безалкохолни напитки</li>
                                    </a>
                                    <a href="/products/saiderBira">
                                        <li class="sub-nav-item">Сайдер, бира</li>
                                    </a>
                                    <a href="/products/biskvitkiBonboni">
                                        <li class="sub-nav-item">Бисквити, бонбони</li>
                                    </a>
                                    <a href="/products/kypaZaBonboni">
                                        <li class="sub-nav-item">Купа за бонбони</li>
                                    </a>
                                    <a href="/products/qdki">
                                        <li class="sub-nav-item">Ядки, плодове</li>
                                    </a>
                                    <a href="/products/chashiBurkalkiPriboriSudove">
                                        <li class="sub-nav-item">Чаши, бъркалки, прибори и съдове</li>
                                    </a>
                                    <a href="/products/ekoPriboriIKonsumativi">
                                        <li class="sub-nav-item">Еко прибори и консумативи</li>
                                    </a>
                                </ul>
                                <!-- Пета секция -->
                                 <li class="sub-nav-item arrowed headSection">
                                    <h4>Хигиенни средства</h4>
                                </li>
                                <ul class="sub-nav subsecOne">
                                    <a href="/products/aromatizatori">
                                        <li class="sub-nav-item">Ароматизатори</li>
                                    </a>
                                    <a href="/products/sapyni">
                                        <li class="sub-nav-item">Сапуни</li>
                                    </a>
                                    <a href="/products/dispensyrZaTechenSapyn">
                                        <li class="sub-nav-item">Диспенсър за течен сапун</li>
                                    </a>
                                    <a href="/products/tabletkiZaSudomiqlna">
                                        <li class="sub-nav-item">Гел и таблетки за съдомиялна</li>
                                    </a>
                                    <a href="/products/pochistvashtiPreparati">
                                        <li class="sub-nav-item">Почистващи препарати</li>
                                    </a>
                                    <a href="/products/preparatZaOtpyshvaneNaKanali">
                                        <li class="sub-nav-item">Препарат за отпушване на канали</li>
                                    </a>
                                    <a href="/products/aromatizatoriIPreparatZaWc">
                                        <li class="sub-nav-item">Ароматизатори и препарат за WC</li>
                                    </a>
                                    <a href="/products/toaletniHartii">
                                        <li class="sub-nav-item">Тоалетни хартии</li>
                                    </a>
                                    <!-- <a href="">
                                        <li class="sub-nav-item">Диспенсър тоалетна хартия</li>
                                    </a> -->
                                    <a href="/products/kyhnenskiRolki">
                                        <li class="sub-nav-item">Кухненски ролки</li>
                                    </a>
                                    <a href="/products/salfetki">
                                        <li class="sub-nav-item">Салфетки</li>
                                    </a>
                                    <!-- <a href="">
                                        <li class="sub-nav-item">Кърпи за ръце, козметични</li>
                                    </a>
                                    <a href="">
                                        <li class="sub-nav-item">Диспенсър за кърпи</li>
                                    </a> -->
                                    <!-- ОТТУК ЗАПОЧНИ !!!!!!!! Горните са объркани и си ебало майката -->
                                    <a href="/products/dezinfektanti">
                                        <li class="sub-nav-item">Дефинфектанти</li>
                                    </a>
                                    <a href="/products/znakMokurPod">
                                        <li class="sub-nav-item">Знак мокър под</li>
                                    </a>
                                    <a href="/products/mokriKurpi">
                                        <li class="sub-nav-item">Мокри кърпи</li>
                                    </a>
                                    <a href="/products/kurpiIGubiZaPochistvane">
                                        <li class="sub-nav-item">Кърпи и гъби за почистване</li>
                                    </a>
                                    <a href="/products/metliILopati">
                                        <li class="sub-nav-item">Метли и лопати</li>
                                    </a>
                                    <a href="/products/bursalkiIDrujki">
                                        <li class="sub-nav-item">Бърсалки, дръжки</li>
                                    </a>
                                    <a href="/products/kofiIKoshcheta">
                                        <li class="sub-nav-item">Кофи и кошчета</li>
                                    </a>
                                    <a href="/products/chetkaZaWc">
                                        <li class="sub-nav-item">Четка за WC</li>
                                    </a>
                                    <a href="/products/torbiZaSmet">
                                        <li class="sub-nav-item">Торби за смет</li>
                                    </a>
                                    <a href="/products/domakinskiRukavici">
                                        <li class="sub-nav-item">Ръкавици</li>
                                    </a>
                                    <a href="/products/medicinskiRukavici">
                                        <li class="sub-nav-item">Медицински ръкавици 
                                            нестерилни</li>
                                    </a>
                              
                                </ul> 
                                <!-- Шеста секция -->
                                <li class="sub-nav-item arrowed headSection">
                                    <h4>Обзавеждане за офис</h4>
                                </li>
                                <ul class="sub-nav subsecOne">
                                    <li class="sub-nav-item arrowed">
                                        <h4>Столове и Аксесоари</h4>
                                    </li>
                                    <!-- Two subsection -->
                                    <ul class="sub-nav subsecTwo">
                                        <a href="/products/stolove">
                                            <li class="sub-nav-item">Столове</li>
                                        </a>
                                        
                                        <!-- <a href="/products/stolove">
                                            <li class="sub-nav-item">Мениджърски столове</li>
                                        </a> -->
                                        <!-- <a href="">
                                            <li class="sub-nav-item">Работни столове</li>
                                        </a>
                                        <a href="">
                                            <li class="sub-nav-item">Посетителски столове</li>
                                        </a> -->
                                        <!-- <a href="">
                                            <li class="sub-nav-item">Мека мебел</li>
                                        </a> -->
                                    </ul>
                                    <!-- End Twosubsection -->
                                    <li class="sub-nav-item arrowed">
                                        <h4>Офис оборудване</h4>
                                    </li> 
                                    <ul class="sub-nav subsecTwo">
                                        <a href="/products/metalniShkafoveIGarderobi">
                                            <li class="sub-nav-item">Метални шкафове и гардероби</li>
                                        </a>
                                        <a href="/products/seifoveIKasi">
                                            <li class="sub-nav-item">Сейфове и каси</li>
                                        </a>
                                        <a href="/products/tabloZaKluchove">
                                            <li class="sub-nav-item">Табло за ключове</li>
                                        </a>
                                        <a href="/products/stelajIZakachalki">
                                            <li class="sub-nav-item">Стелажи и закачалки</li>
                                        </a>
                                    </ul>
                                    <li class="sub-nav-item arrowed">
                                        <h4>Мебели</h4>
                                    </li> -->
                                    <ul class="sub-nav subsecTwo">
                                        <a href="/products/sofas">
                                            <li class="sub-nav-item">Мека мебел</li>
                                        </a>
                                        <a href="/products/receptions">
                                            <li class="sub-nav-item">Рецепции</li>
                                        </a>
                                        <a href="/products/workstations">
                                            <li class="sub-nav-item">Работни станции</li>
                                        </a>
                                        <!--
                                             This section have mixed with call and buy the item

                                             <a href="/products/conferenceAndMeetingTables">
                                            <li class="sub-nav-item">Конферентни и заседателни маси</li>
                                        </a>
                                     -->
                                        <a href="/products/desk">
                                            <li class="sub-nav-item">Бюра</li>
                                        </a>
                                        <a href="/products/adjustableDesks">
                                            <li class="sub-nav-item">Бюра с регулиране</li>
                                        </a>
                                        <!-- <a href="">
                                            <li class="sub-nav-item">Серия Авангард</li>
                                        </a>
                                        <a href="">
                                            <li class="sub-nav-item">Серия Адония</li>
                                        </a>
                                        <a href="">
                                            <li class="sub-nav-item">Серия Графит</li>
                                        </a>
                                        <a href="">
                                            <li class="sub-nav-item">Серия Карамел</li>
                                        </a>
                                        <a href="">
                                            <li class="sub-nav-item">Серия Класик</li>
                                        </a>
                                        <a href="">
                                            <li class="sub-nav-item">Серия Комфорт</li>
                                        </a>
                                        <a href="">
                                            <li class="sub-nav-item">Ученически маси и чинове</li>
                                        </a>
                                        <a href="">
                                            <li class="sub-nav-item">Серия Компакт</li>
                                        </a>
                                        <a href="">
                                            <li class="sub-nav-item">Серия Сити</li>
                                        </a>
                                        <a href="">
                                            <li class="sub-nav-item">Серия Рикард</li>
                                        </a> -->
                                    </ul> 
                                    <!-- End twosubsection -->
                                </ul>
                                <!-- Край на секциите -->
                            </ul>
                            <!-- Край на продукти -->



                            <li class="nav-item">
                                <%if(session.passport && session.passport.user){%>
                                    <a href="/account">
                                    <h3>Акаунт</h3>
                                </a>
                                <%}else{%>
                                    <a href="/account">
                                    <h3>Вход/Регистрация</h3>
                                </a>
                                <%}%>
                             
                            </li>
                            <li class="nav-item">
                                <a href="/aboutUs">
                                    <h3>За нас</h3>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="/contactUs">
                                    <h3>Контакти</h3>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </aside>
            </div>


            <div class="col-1 col-md-1 order-md-1">
                <a href="/account" class="link-light"> <i class="fas fa-user"></i></a>
            </div>
            <div class="col-6 col-md-3 ">
                <a href="/" class="navbar-brand"> <span class="text-info">Soft</span>Office.bg</a>
            </div>
            <div class="col-0 col-md-5 navSearch">
                <form>
                    <div class="row">
                        <div class="searchContainer d-flex">
                            <div class="col-10 padding-0">
                                <input type="search" class="form-control" id="navSearch" placeholder="Търси..."
                                    onkeyup="sendData(this)" autocorrect="off" autocomplete="OfF" aria-autocomplete="list" isp_ac="OfF">
                            </div>
                            <!-- <input id="search" type="text" name="q" value="хартия" 
                            class="search-input ui-autocomplete-input" placeholder="Търси..." 
                            autocomplete="OfF" autocorrect="off" autocapitalize="off" aria-label="Search" aria-autocomplete="list" isp_ac="OfF"> -->
                            <div class="col-1 padding-0">
                                <span class="searchButton bg-info">
                                    <button type="button" class="btn text-white searchButton"><i
                                            class="fas fa-search buttonSearch"></i></button>
                                </span>
                            </div>
                            <div id="searchResults">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-1 col-md-1 d-flex ">
                <i class="fas fa-search hidden"></i>

            </div>
            <div class="col-1 col-md-1 order-md-1 d-flex">

                <a href="/cart" class="link-light" style="position: relative;"> <i class="fas fa-shopping-cart"></i>
                    <span class="badge"
                        style="position: absolute; top:-35%; right:-70%; color:white; border:3px solid white; background-color:#0d6efd; border-radius:15px; padding:1px 10px; font-size: calc(5px + 0.75vw);">
                        <%if(session.cart){%>
                            <%=session.cart.totalQty%>
                                <%}else{%>
                                    0
                                    <%}%>
                    </span>
                </a>

            </div>

        </div>


        <div class="burgerWrapperBg">
        </div>
        <div class="searchWrapper"></div>
    </nav>

</header>
