<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../layouts/bootstrapStyle.ejs")%>
        <link rel="stylesheet" href="../../styles/adminProducts.css">

        <title>Admin</title>
</head>

<body style="background-color: #f6f7fb
;">
    <%- include("../layouts/headerAndFooter/adminPanelHeader.ejs")%>

        <main>
            <!-- Here are showed collections -->

        </main>

</body>
<%- include("../layouts/bootstrapScripts.ejs")%>
    <%- include("../layouts/headerAndFooter/adminPanelScripts.ejs") %>

</html>